## TESTES NÃO PARAMÉTRICOS

O trabalho com pequenas amostras pode levar a não aceitação da validade do teorema central do limite e também na impossibilidade de fazer suposições sobre a distribuição da variável avaliada. Quando isso ocorre torna-se necessária a aplicação de testes não paramétricos. Nos testes não paramétricos, não fazemos hipóteses sobre a distribuição (de probabilidade) das quais as observações são extraídas.

### Teste do Qui-Quadrado

Também conhecido como teste de adequação ao ajustamento, seu nome se deve ao fato de utilizar uma variável estatística padronizada, representada pela letra grega qui ( $\chi$) elevada ao quadrado. A tabela com os valores padronizados e como obtê-la podem ser vistos logo abaixo.

O teste do $\chi^2$ testa a hipótese nula de não haver diferença entre as frequências observadas de um determinado evento e as frequências que são realmente esperadas para este evento.

Os passos de aplicação do teste são bem parecidos aos vistos para os testes paramétricos.

![Região de Aceitação](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img017.png)

### Problema
Antes de cada partida do campeonato nacional de futebol, as moedas utilizadas pelos árbitros devem ser verificadas para se ter certeza de que não são viciadas, ou seja, que não tendam para determinado resultado. Para isso um teste simples deve ser realizado antes de cada partida. Este teste consiste em lançar a moeda do jogo **50 vezes** e contar as frequências de **CARAS** e **COROAS** obtidas. A tabela abaixo mostra o resultado obtido no experimento:

||CARA|COROA|
|-|-|-|
|Observado|17|33|
|Esperado|25|25|

A um **nível de significância de 5%**, é possível afirmar que a moeda não é honesta, isto é, que a moeda apresenta uma probabilidade maior de cair com a face **CARA** voltada para cima?

In [26]:
F_Observada = [17,33]
F_Esperada = [25,25]
significancia = 0.05
confianca = 1 - significancia
k = 2
graus_liberdade = k - 1

### Passo 1 - Formulação das Hipóteses $H_0$ e $H_1$ 
Hipótese nula ela sempre vai conter uma igualdade

#### $H_0: F_{CARA} = F_{COROA}$

#### $H_1: F_{CARA} \neq F_{COROA}$

In [27]:
from scipy.stats import chi

### **Passo 2** - fixação da significância do teste

In [28]:
chi_a_alpha = chi.ppf(confianca,graus_liberdade) ** 2
chi_a_alpha

3.8414588206941245

### **Passo 3** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$\chi^2 = \sum_{i=1}^{k}{\frac{(F_{i}^{Obs} - F_{i}^{Esp})^2}{F_{i}^{Esp}}}$$

Onde

$F_{i}^{Obs}$ = frequência observada para o evento $i$

$F_{i}^{Esp}$ = frequência esperada para o evento $i$

$k$ = total de eventos possíveis

In [29]:
chi_2 = ( (F_Observada[0] - F_Esperada[0])**2 /F_Esperada[0]  ) + ( (F_Observada[1] - F_Esperada[1])**2 /F_Esperada[1] )
chi_2

5.12

In [30]:
chi_2 = 0
for i in range(k):
    chi_2+= (F_Observada[i] - F_Esperada[i])**2 /F_Esperada[i]
chi_2

5.12

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img019.png)

### **Passo 4** - Aceitação ou rejeição da hipótese nula

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img020.png' width=80%>

In [32]:
chi_2 >= chi_a_alpha

True

Com um nível de significância de 95% rejeitamos a hipótese nula e concluímos que as frequência observadas e esperadas são discrepantes, logo a moeda não é honesta.

### Critério do p valor

In [33]:
chi_2

5.12

In [35]:
import numpy as np
raiz_chi_2 = np.sqrt(chi_2)
raiz_chi_2

2.262741699796952

In [36]:
p_valor = chi.sf(raiz_chi_2,df=1)
p_valor

0.023651616655355992

In [37]:
p_valor<=significancia

True

In [39]:
from scipy.stats import chisquare
chisquare(f_obs = F_Observada  , f_exp = F_Esperada )

Power_divergenceResult(statistic=5.12, pvalue=0.023651616655355992)

Ex: A realização de um teste não paramétrico Qui-quadrado, com apenas 5 graus de liberdade, obteve-se a estatística de teste no valor de 7,45.

Qual seria o p-valor para este teste?

In [40]:
chi_2 =np.sqrt(7.45)
graus_liberadade = 5
p_valor = chi.sf(chi_2,df=graus_liberadade)
p_valor

0.18926579121171602

### Tests Wilcoxon
Comparação de duas populações - amostras dependentes
Empregado quando se deseja comparar duas amostras relacionadas, amostras emparelhadas. Pode ser aplicado quando se deseja testar a diferença de duas condições, isto é, quando um mesmo elemento é submetido a duas medidas.
***

In [41]:
fumo = {
    'Antes': [39, 25, 24, 50, 13, 52, 21, 29, 10, 22, 50, 15, 36, 39, 52, 48, 24, 15, 40, 41, 17, 12, 21, 49, 14, 55, 46, 22, 28, 23, 37, 17, 31, 49, 49],
    'Depois': [16, 8, 12, 0, 14, 16, 13, 12, 19, 17, 17, 2, 15, 10, 20, 13, 0, 4, 16, 18, 16, 16, 9, 9, 18, 4, 17, 0, 11, 14, 0, 19, 2, 9, 6]
}
significancia = 0.05
confianca = 1 - significancia
n = 35

In [43]:
import pandas as pd
fumo = pd.DataFrame(fumo)
fumo.head()

   Antes  Depois
0     39      16
1     25       8
2     24      12
3     50       0
4     13      14

In [45]:
media_antes = fumo.Antes.mean()
media_antes

31.857142857142858

In [46]:
media_depois = fumo.Depois.mean()
media_depois

11.2

Na hipótese nula definimos que a hipótese antes é igual a hipótese depois:
### $H_0: \mu_{antes} = \mu_{depois}$

### $H_1: \mu_{antes} > \mu_{depois}$

#### **Passo 2** - escolha da distribuição amostral adequada

#### O tamanho da amostra é maior que 20?
**Resp**.: Sim

#### **Passo 3** - fixação da significância do teste ($\alpha$)

In [47]:
probabilidade = 0.975

In [49]:
from scipy.stats import norm
z_alpha_2 = norm.ppf(probabilidade)
z_alpha_2.round(2)

1.96

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$Z = \frac{T - \mu_T}{\sigma_T}$$

Onde

## $T$ = menor das somas de postos de mesmo sinal

# $$\mu_T = \frac{n(n+1)}{4}$$
# $$\sigma_T = \sqrt{\frac{n(n + 1)(2n + 1)}{24}}$$

In [51]:
fumo['Dif'] = fumo['Depois'] - fumo['Antes']
fumo.head()

   Antes  Depois  Dif
0     39      16  -23
1     25       8  -17
2     24      12  -12
3     50       0  -50
4     13      14    1

In [53]:
fumo['|Dif|'] = fumo.Dif.abs()
fumo.head()

   Antes  Depois  Dif  |Dif|
0     39      16  -23     23
1     25       8  -17     17
2     24      12  -12     12
3     50       0  -50     50
4     13      14    1      1

In [54]:
fumo.sort_values(by = '|Dif|', inplace= True)
fumo.head()

    Antes  Depois  Dif  |Dif|
4      13      14    1      1
20     17      16   -1      1
31     17      19    2      2
21     12      16    4      4
24     14      18    4      4

In [55]:
fumo['Posto'] = range(1,len(fumo)+1)
fumo.head()

    Antes  Depois  Dif  |Dif|  Posto
4      13      14    1      1      1
20     17      16   -1      1      2
31     17      19    2      2      3
21     12      16    4      4      4
24     14      18    4      4      5

In [56]:
posto = fumo[ ['|Dif|','Posto'] ].groupby(['|Dif|']).mean()
posto.head()

       Posto
|Dif|
1        1.5
2        3.0
4        4.5
5        6.0
8        7.0

In [58]:
posto.reset_index(inplace=True)
posto.head()

   index  |Dif|  Posto
0      0      1    1.5
1      1      2    3.0
2      2      4    4.5
3      3      5    6.0
4      4      8    7.0

In [59]:
fumo.drop(['Posto'], axis = 1, inplace = True)
fumo.head()

    Antes  Depois  Dif  |Dif|
4      13      14    1      1
20     17      16   -1      1
31     17      19    2      2
21     12      16    4      4
24     14      18    4      4

In [60]:
fumo = fumo.merge(posto,left_on = '|Dif|', right_on ='|Dif|', how = 'left' )
fumo.head()

   Antes  Depois  Dif  |Dif|  index  Posto
0     13      14    1      1      0    1.5
1     17      16   -1      1      0    1.5
2     17      19    2      2      1    3.0
3     12      16    4      4      2    4.5
4     14      18    4      4      2    4.5

In [63]:
fumo ['Posto (+)'] = fumo.apply(lambda x: x.Posto if x.Dif>0 else 0,axis=1)
fumo.head()

   Antes  Depois  Dif  |Dif|  index  Posto  Posto (+)
0     13      14    1      1      0    1.5        1.5
1     17      16   -1      1      0    1.5        0.0
2     17      19    2      2      1    3.0        3.0
3     12      16    4      4      2    4.5        4.5
4     14      18    4      4      2    4.5        4.5

In [64]:
fumo ['Posto (-)'] = fumo.apply(lambda x: x.Posto if x.Dif<0 else 0,axis=1)
fumo.head()

   Antes  Depois  Dif  |Dif|  index  Posto  Posto (+)  Posto (-)
0     13      14    1      1      0    1.5        1.5        0.0
1     17      16   -1      1      0    1.5        0.0        1.5
2     17      19    2      2      1    3.0        3.0        0.0
3     12      16    4      4      2    4.5        4.5        0.0
4     14      18    4      4      2    4.5        4.5        0.0

In [72]:
#T é a menor soma dos postos
T = min(fumo['Posto (-)'].sum(), fumo['Posto (+)'].sum())
T

22.0

In [73]:
mu_T = (n* (n+1))/4
mu_T

315.0

In [74]:
sigma_T = np.sqrt((n * (n + 1) * ((2 * n) + 1)) / 24)
sigma_T

61.053255441458646

In [76]:
z = (T - mu_T )/sigma_T
z

-4.799088891843698

In [77]:
z>=z_alpha_2

False

Reijamos então a hipótese nula, logo existe diferença entre as médias de cigarros fumados pelos pacientes antes e depois do tratamento.

### Utilizando p valor

In [78]:
from scipy.stats import wilcoxon

In [80]:
T, p_valor = wilcoxon(fumo.Antes,fumo.Depois)

In [81]:
p_valor <= significancia

True

Ex: Desconfiado da eficiência dos cursos e materiais de estudo online da Alura, um professor resolveu realizar um teste com um grupo de 14 alunos de sua classe. Para isto, ele submeteu estes alunos a duas etapas distintas e logo depois de cada etapa, aplicou uma avaliação. Na etapa inicial, foram oferecidas aulas normais, sem a utilização do material de apoio da Alura. Na segunda etapa, foram também oferecidas aulas normais, mas com a utilização do material de apoio da Alura. As notas obtidas pelos alunos estão na tabela abaixo:

In [87]:
alunos =  [
        {"Aluno": "Aluno A", "Sem Alura": 7, "Com Alura": 10},
        {"Aluno": "Aluno B", "Sem Alura": 8, "Com Alura": 10},
        {"Aluno": "Aluno C", "Sem Alura": 6, "Com Alura": 9},
        {"Aluno": "Aluno D", "Sem Alura": 6, "Com Alura": 9},
        {"Aluno": "Aluno E", "Sem Alura": 10, "Com Alura": 9},
        {"Aluno": "Aluno F", "Sem Alura": 4, "Com Alura": 7},
        {"Aluno": "Aluno G", "Sem Alura": 2, "Com Alura": 5},
        {"Aluno": "Aluno H", "Sem Alura": 5, "Com Alura": 8},
        {"Aluno": "Aluno I", "Sem Alura": 9, "Com Alura": 10},
        {"Aluno": "Aluno J", "Sem Alura": 2, "Com Alura": 6},
        {"Aluno": "Aluno K", "Sem Alura": 4, "Com Alura": 3},
        {"Aluno": "Aluno L", "Sem Alura": 9, "Com Alura": 7},
        {"Aluno": "Aluno M", "Sem Alura": 1, "Com Alura": 4},
        {"Aluno": "Aluno N", "Sem Alura": 10, "Com Alura": 8}
    ]

alunos = pd.DataFrame(alunos)
alunos.head()

     Aluno  Sem Alura  Com Alura
0  Aluno A          7         10
1  Aluno B          8         10
2  Aluno C          6          9
3  Aluno D          6          9
4  Aluno E         10          9

In [91]:
significancia = 0.1
T, p_valor = wilcoxon(alunos['Sem Alura'],alunos['Com Alura'])
print(T)
print(p_valor)
p_valor >=significancia

14.0
0.013427734375

False

Rejeitamos a hipótese nula de que a eficiência dos alunos é igual sem o material de apoio da alura.

##  Teste de Mann-Whitney
### Comparação de duas populações - amostras independentes
Mann-Whitney é um teste não paramétrico utilizado para verificar se duas amostras independentes foram selecionadas a partir de populações que têm a mesma média. Por ser um teste não paramétrico, Mann-Whitney torna-se uma alternativa ao teste paramétrico de comparação de médias.
***

In [95]:
dados = pd.read_csv('dados.csv')
mulheres = dados.query('Sexo == 1 and Renda > 0').sample(n = 8, random_state = 101).Renda
homens = dados.query('Sexo == 0 and Renda > 0').sample(n = 6, random_state = 101).Renda

In [96]:
media_amostra_M = mulheres.mean()
media_amostra_M

1090.75

In [97]:
media_amostra_H = homens.mean()
media_amostra_H

1341.6666666666667

In [98]:
significancia = 0.05
confianca = 1 - significancia
n_1 = len(homens) #n_1 vai ser a amostra menor
n_2 = len(mulheres)

### $\mu_m \Rightarrow$ Média das rendas dos chefes de domicílios do sexo feminino
### $\mu_h \Rightarrow$ Média das rendas dos chefes de domicílios do sexo masculino

### 
$H_0$: media_amostra_M = media_amostra_H

$H_1$:media_amostra_M<media_amostra_H

### **Passo 2** - escolha da distribuição amostral adequada

Deve-se optar pela distribuição **$t$ de Student**, já que nada é mencionado sobre a distribuição da população, o desvio padrão populacional é desconhecido e o número de elementos investigados é menor que 30.

In [124]:
graus_liberdade = n_1 + n_2 - 2

In [125]:
from scipy.stats import t as t_student

In [126]:
t_alpha = t_student.ppf(significancia,graus_liberdade)
t_alpha.round(2)

-1.78

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste
## 1. Definir os n's:
### $n_1$ = nº de elementos do menor grupo
### $n_2$ = nº de elementos do maior grupo
---
## 2. Obter a soma dos postos
### $R_1$ = soma dos postos do grupo $n_1$
### $R_2$ = soma dos postos do grupo $n_2$
---
## 3. Obter as estatísticas
# $$u_1 = n_1 \times n_2 + \frac{n_1 \times (n_1 + 1)}{2} - R_1$$
# $$u_2 = n_1 \times n_2 + \frac{n_2 \times (n_2 + 1)}{2} - R_2$$
---
## 4. Selecionar o menor U
# $$u = min(u_1, u_2)$$
---
## 5. Obter a estatística de teste
# $$Z = \frac{u - \mu{(u)}}{\sigma{(u)}}$$

Onde

# $$\mu{(u)} = \frac{n_1 \times n_2}{2}$$
# $$\sigma{(u)} = \sqrt{\frac{n_1 \times n_2 \times (n_1 + n_2 + 1)}{12}}$$

In [127]:
H = pd.DataFrame(homens)
H['Sexo'] = 'Homens'
H

       Renda    Sexo
67872   1200  Homens
30211   2000  Homens
64406    850  Homens
26519    800  Homens
61540   2000  Homens
17422   1200  Homens

In [128]:
M = pd.DataFrame(mulheres)
M['Sexo'] = 'Mulheres'
M

       Renda      Sexo
6251    1100  Mulheres
34764    400  Mulheres
40596    788  Mulheres
11303   4300  Mulheres
22733    250  Mulheres
24707    400  Mulheres
60340    700  Mulheres
17035    788  Mulheres

In [129]:
sexo = pd.concat([M,H],axis=0)
sexo.reset_index(drop=True, inplace=True)
sexo.head()

   Renda      Sexo
0   1100  Mulheres
1    400  Mulheres
2    788  Mulheres
3   4300  Mulheres
4    250  Mulheres

In [130]:
sexo.sort_values(by = 'Renda', inplace = True)
sexo.head()

   Renda      Sexo
4    250  Mulheres
1    400  Mulheres
5    400  Mulheres
6    700  Mulheres
2    788  Mulheres

In [131]:
sexo['Posto']= range(1,len(sexo)+1)
sexo.head()

   Renda      Sexo  Posto
4    250  Mulheres      1
1    400  Mulheres      2
5    400  Mulheres      3
6    700  Mulheres      4
2    788  Mulheres      5

In [132]:
posto = sexo[ ['Renda','Posto'] ].groupby(['Renda']).mean()
posto

       Posto
Renda
250      1.0
400      2.5
700      4.0
788      5.5
800      7.0
850      8.0
1100     9.0
1200    10.5
2000    12.5
4300    14.0

In [133]:
posto.reset_index(inplace=True)
posto

   Renda  Posto
0    250    1.0
1    400    2.5
2    700    4.0
3    788    5.5
4    800    7.0
5    850    8.0
6   1100    9.0
7   1200   10.5
8   2000   12.5
9   4300   14.0

In [134]:
sexo.drop(['Posto'],axis=1,inplace=True)
sexo

    Renda      Sexo
4     250  Mulheres
1     400  Mulheres
5     400  Mulheres
6     700  Mulheres
2     788  Mulheres
7     788  Mulheres
11    800    Homens
10    850    Homens
0    1100  Mulheres
8    1200    Homens
13   1200    Homens
9    2000    Homens
12   2000    Homens
3    4300  Mulheres

In [135]:
sexo = sexo.merge(posto, left_on = 'Renda', right_on= 'Renda', how = 'left')
sexo

    Renda      Sexo  Posto
0     250  Mulheres    1.0
1     400  Mulheres    2.5
2     400  Mulheres    2.5
3     700  Mulheres    4.0
4     788  Mulheres    5.5
5     788  Mulheres    5.5
6     800    Homens    7.0
7     850    Homens    8.0
8    1100  Mulheres    9.0
9    1200    Homens   10.5
10   1200    Homens   10.5
11   2000    Homens   12.5
12   2000    Homens   12.5
13   4300  Mulheres   14.0

### Obtendo $R$

### $R_1$ = soma dos postos do grupo $n_1$
### $R_2$ = soma dos postos do grupo $n_2$

In [136]:
Temp = sexo[['Sexo','Posto']].groupby('Sexo').sum()
Temp

          Posto
Sexo
Homens     61.0
Mulheres   44.0

In [137]:
R_1 = Temp.loc['Homens'][0]
R_1

61.0

In [138]:
R_2 = Temp.loc['Mulheres'][0]
R_2

44.0

In [139]:
u_1 = n_1 * n_2 + ((n_1 * (n_1 + 1)) / (2)) - R_1
u_1

8.0

In [140]:
u_2 = n_1 * n_2 + ((n_2 * (n_2 + 1)) / (2)) - R_2
u_2

40.0

In [141]:
u = min(u_1, u_2)
u

8.0

### Obter $\mu{(u)}$

# $$\mu{(u)} = \frac{n_1 \times n_2}{2}$$

In [142]:
mu_u = (n_1 * n_2) / 2
mu_u

24.0

### Obter $\sigma{(u)}$

# $$\sigma{(u)} = \sqrt{\frac{n_1 \times n_2 \times (n_1 + n_2 + 1)}{12}}$$

In [143]:
sigma_u = np.sqrt(n_1 * n_2 * (n_1 + n_2 + 1) / 12)
sigma_u

7.745966692414834

### Obter $Z$

# $$Z = \frac{u - \mu{(u)}}{\sigma{(u)}}$$

In [144]:
Z = (u - mu_u) / sigma_u
Z.round(2)

-2.07

![Estatística-Teste](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img024.png)

### **Passo 5** - Aceitação ou rejeição da hipótese nula
<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img025.png' width='80%'>

Rejeitamos a hipótese de que não existe diferença entre os grupos, isto é, concluímos que a média das rendas dos chefes de domicílios do sexo feminino é menor que a média das rendas dos chefes de domicílios do sexo masculino. Confirmando a alegação de desigualdade de renda entre os sexos

In [145]:
from scipy.stats import mannwhitneyu

In [147]:
u,p_valor = mannwhitneyu(mulheres, homens, alternative='less')
print(u)
print(p_valor)

8.0
0.022221119551528605

In [148]:
p_valor<=significancia

True

**Ex:** Um professor acredita que alunos que praticam exercícios físicos têm uma performance média escolar superior àquela obtida por alunos que não praticam. Para provar sua teoria, selecionou duas amostras aleatórias, uma com 9 alunos que não praticam exercícios físicos e outra com 10 alunos que cultivam o hábito de se exercitar. A tabela abaixo mostra as notas dos alunos no último ano:

$H_0$: alunos_sem = alunos_com

$H_1$:alunos_sem<alunos_com

In [164]:
sem_Exercicios = pd.Series([7, 6, 7, 8, 6, 8, 6, 9, 5])
com_Exercicios = pd.Series([8, 7, 6, 6, 8, 6, 10, 6, 7, 8])

significancia = 0.10

In [165]:
u,p_valor = mannwhitneyu(com_Exercicios,sem_Exercicios, alternative='greater')
print(u)
print(p_valor)

50.0
0.35118642828565927

In [166]:
p_valor<=significancia

False